{% extends "base.html" %}

{% block title %}Manage Users{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>User List</h2>
    <a href="{{ url_for('main.add_user') }}" class="btn btn-primary mb-3">Add New User</a>
    <table class="table" id="usersTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Type</th>
                <th>Branch</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.usertype.name }}</td>
                <td>{{ user.branch.branch_name if user.branch else 'N/A' }}</td>
                <td>
                    <a href="{{ url_for('main.edit_user', user_id=user.id) }}" class="btn btn-sm btn-warning">Edit</a>
                    <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main.user_type') }}" class="btn btn-secondary mt-3">Manage User Types</a>
    <a href="{{ url_for('main.index') }}" class="btn btn-secondary mt-3">Back to Home</a>

 <form action="{{ url_for('main.upload_users') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv">
    <input type="submit" value="Upload">
</form>

</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#usersTable').DataTable({
        responsive: true,
        "pageLength": 10
    });
});
</script>
{% endblock %}
