<h3>Include in Bid:</h3>
<div class="form-row">
    <div class="col-md-4 form-check">
        {{ form.include_framing(class="form-check-input", id="include_framing") }}
        {{ form.include_framing.label(class="form-check-label") }}
    </div>
    <div class="col-md-4 form-check">
        {{ form.include_siding(class="form-check-input", id="include_siding") }}
        {{ form.include_siding.label(class="form-check-label") }}
    </div>
    <div class="col-md-4 form-check">
        {{ form.include_shingles(class="form-check-input", id="include_shingles") }}
        {{ form.include_shingles.label(class="form-check-label") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 form-check">
        {{ form.include_deck(class="form-check-input", id="include_deck") }}
        {{ form.include_deck.label(class="form-check-label") }}
    </div>
    <div class="col-md-4 form-check">
        {{ form.include_doors(class="form-check-input", id="include_doors") }}
        {{ form.include_doors.label(class="form-check-label") }}
    </div>
    <div class="col-md-4 form-check">
        {{ form.include_windows(class="form-check-input", id="include_windows") }}
        {{ form.include_windows.label(class="form-check-label") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 form-check">
        {{ form.include_trim(class="form-check-input", id="include_trim") }}
        {{ form.include_trim.label(class="form-check-label") }}
    </div>
</div>
