<h3>Framing</h3>
{{ framing_form.hidden_tag() }}
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.plate.label }}<br>
        {{ framing_form.plate(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.lot_type.label }}<br>
        {{ framing_form.lot_type(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.basement_wall_height.label }}<br>
        {{ framing_form.basement_wall_height(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.basement_exterior_walls.label }}<br>
        {{ framing_form.basement_exterior_walls(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.basement_interior_walls.label }}<br>
        {{ framing_form.basement_interior_walls(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.floor_framing.label }}<br>
        {{ framing_form.floor_framing(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.floor_sheeting.label }}<br>
        {{ framing_form.floor_sheeting(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.floor_adhesive.label }}<br>
        {{ framing_form.floor_adhesive(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.exterior_walls.label }}<br>
        {{ framing_form.exterior_walls(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.first_floor_wall_height.label }}<br>
        {{ framing_form.first_floor_wall_height(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.second_floor_wall_height.label }}<br>
        {{ framing_form.second_floor_wall_height(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.wall_sheeting.label }}<br>
        {{ framing_form.wall_sheeting(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 mb-3">
        {{ framing_form.roof_trusses.label }}<br>
        {{ framing_form.roof_trusses(class="form-control") }}
    </div>
    <div class="col-md-6 mb-3">
        {{ framing_form.roof_sheeting.label }}<br>
        {{ framing_form.roof_sheeting(class="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-12 mb-3">
        {{ framing_form.framing_notes.label }}<br>
        {{ framing_form.framing_notes(class="form-control") }}
    </div>
</div>
